
@font-face {
    font-family: tggtfont;
    src: url('fonts/tggtfont.otf') format('opentype');
}

.navbar-brand {
    padding-top: 15px;
}

.navbar-brand img {
    height: 40px;
}

.input-group-btn-rtl .btn {
    -moz-border-radius: 10px 0px 0px 10px !important;
    -webkit-border-radius: 10px 0px 0px 10px !important;
    border-radius: 10px 0px 0px 10px !important;
}

.input-group-rtl input {
    border-left-width: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#map{
    height:400px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }