<div class="col-md-8">
    <h4>بحث في المدينة</h4>

    <div id="searchfield" class="input-group input-group-rtl">
        <input type="text" class="form-control biginput" id="autocomplete" name="currency">
        <span class="input-group-btn input-group-btn-rtl">
            <button class="btn btn-success" type="button">
                <span class="fa fa-search"></span>
            </button>
        </span>
    </div>
    <div class="clearfix" style="margin:20px;"></div>
    <div>
        <div id="map">
        </div>

    </div>
</div>